<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:compileSdkVersion="34" android:compileSdkVersionCodename="14" android:installLocation="preferExternal" package="com.neon.networks.links" platformBuildVersionCode="34" platformBuildVersionName="14">
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <uses-feature android:glEsVersion="0x00030000"/>
    <uses-feature android:name="android.hardware.vulkan.version" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false"/>
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:node="remove"/>
    <application android:extractNativeLibs="true" android:icon="@mipmap/app_icon" android:label="@string/app_name" android:roundIcon="@mipmap/app_icon_round">
        <receiver android:exported="false" android:name="com.unity.androidnotifications.UnityNotificationManager"/>
        <receiver android:enabled="false" android:exported="false" android:name="com.unity.androidnotifications.UnityNotificationRestartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="unity.splash-mode" android:value="0"/>
        <meta-data android:name="unity.splash-enable" android:value="true"/>
        <meta-data android:name="unity.launch-fullscreen" android:value="true"/>
        <meta-data android:name="unity.render-outside-safearea" android:value="true"/>
        <meta-data android:name="notch.config" android:value="portrait|landscape"/>
        <meta-data android:name="unity.auto-report-fully-drawn" android:value="true"/>
        <meta-data android:name="com.unity.androidnotifications.exact_scheduling" android:value="0"/>
        <meta-data android:name="notch.config" android:value="portrait|landscape"/>
        <activity android:configChanges="density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:exported="true" android:hardwareAccelerated="false" android:launchMode="singleTask" android:name="com.unity3d.player.UnityPlayerActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:theme="@style/UnityThemeSelector">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true"/>
            <meta-data android:name="notch_support" android:value="true"/>
            <meta-data android:name="notch_support" android:value="true"/>
        </activity>
    </application>
</manifest>